main{
    height: auto;
    padding-top: 130px;
    padding-bottom: 40px;
}

.main-carousel{
    margin: auto;
    width: 100%;
    text-align: center;
}

.imagem-preview{
    width:100%;
    height: 400px;
}

.video-preview{
    width: 100%;
    height: auto; 
}

.container-dots{
    margin-top: -50px;
    margin-bottom: 100px;
    text-align: center;
    z-index: 999;
}

.gif-down-page{
    margin: auto;
    margin-top: -60px;
    width: 100px;
    height: 60px;
    display: block;
    text-align: center;
    z-index: 999;
}

.gif-down-page:last-child{
    margin-top: -80px;
    z-index: 999;
}

.file-select{
    border-radius: 0;
    padding:2px;  
    font-size: 2rem;
    opacity: .6;
    background-color: #fff;
    margin: auto;
    margin-right: 20px;
    text-align: center;
    width: 40px;
    height: 4px;
    display: inline-block;

}

.checked{
    opacity: 1;
}





/*list car's*/

.title-body{
    float:left;
    margin: auto;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-top: 30px;
    text-align: strat;
}

.title-body h2, 
.title-body h1{
    text-align: start;
    display: inline-block;
    font-size: 1.8em ;
}

.title-body h2{
    color: #000b;
    padding: 20px;
    padding-top: 0;
    border-bottom: 4px solid lightblue;
    margin-right:10px;
    border-radius: 20px 0px 20px 20px; 
}

.title-body h1{
    font-size: 2.3em;
    color: lightskyblue;
    font-weight: 900;
    opacity: 1;
}







