main{
    height: auto;
    padding-top: 130px;
    padding-bottom: 40px;
}

.main-carousel{
    margin: auto;
    width: 100%;
    text-align: center;
}

.imagem-preview{
    width:100%;
    height: 400px;
}

.video-preview{
    width: 100%;
    height: auto; 
}

.container-dots{
    margin-top: -50px;
    margin-bottom: 100px;
    text-align: center;
    z-index: 999;
}

.gif-down-page{
    margin: auto;
    margin-top: -60px;
    width: 100px;
    height: 60px;
    display: block;
    text-align: center;
    z-index: 999;
}

.gif-down-page:last-child{
    margin-top: -80px;
    z-index: 999;
}

.file-select{
    border-radius: 0;
    padding:2px;  
    font-size: 2rem;
    opacity: .6;
    background-color: #fff;
    margin: auto;
    margin-right: 20px;
    text-align: center;
    width: 40px;
    height: 4px;
    display: inline-block;

}

.checked{
    opacity: 1;
}





/*list car's*/
.title-body{
    width: 100%;
    display: block;
    float:left;
    margin: auto;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.title-body h2, 
.title-body h1{
    text-align: start;
    display: inline-block;
    font-size: 1.8em ;
}

.title-body h2{
    color: #000b;
    padding: 20px;
    padding-top: 0;
    border-bottom: 4px solid lightblue;
    margin-right:10px;
    border-radius: 20px 0px 20px 20px; 
}

.title-body h1{
    font-size: 2.3em;
    color: lightskyblue;
    font-weight: 900;
    opacity: 1;
}

.container-carros{
    content: '';
    padding: 40px 0px;
    width: 100%;
    margin: auto;
    vertical-align: middle;
    text-align: start;
    justify-content: center;
}

.carro{
    background-color: white;
    margin: auto;
    width: 20%;
    margin: 30px;
    border-radius: 20px;
    display: inline-table;
    cursor: pointer;
    transition: all 600ms ease-in-out;
    transform: translateX(0) scale(1);
}

.carro:hover {
    transform: translateX(1px) scale(1.1);
}

.carro figure img{
    height:auto;
    width: 100%;    
    display: inline-block;
}

.carro figure figcaption {
    padding: 20px 0px;
    font-size: 1.6em;
    color: #000b;
    text-align: center;
}

.container-search{
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.form-control{
    border: 0px 0px 4px 0px solid #c7c7c7c;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    padding: 20px;
    font-weight: 300;
    font-size: 1.2em;
}

.form-control:focus{
    border-color: lightskyblue;
}


.container-categorias{
    width: 100%;
    margin-top: 40px;
}

.container-categorias ul{
    display: inline-block;
    list-style: none;
}

.container-categorias ul li{
    display: inline-block;
}

.ancor-category{
    text-align: center;
    margin: 20px;
    font-size: 1.4em;
}

.ancor-ativo{
    background-color: lightskyblue;
    border-radius: 10px;
    color: #22405D;
    padding: 10px 20px;
}

