main{
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main-carousel{
    margin: auto;
    width: 100%;
    text-align: center;
}

.imagem-preview{
    width:100%;
    height: 600px;
}

.container-dots{
    margin-top: -100px;
    margin-bottom: 100px;
}

.gif-down-page{
    margin-top: -90px;
    width: 100px;
    text-align: center;
}

.image-select{
    border-radius: 0;
    padding:2px;  
    font-size: 2rem;
    background-color: red;
    opacity: .6;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 40px;
  height: 2px;
}

input[type="radio"]:checked{
    opacity: 1;
}