header{
    position: fixed;
    top:0;
    width: 100%;
    height: auto;
    padding: 0;
    z-index:99;
    background-color: white;
}

header > div:last-child{
    clear: both;
}


.lista-contato, .lista-opcoes{
    display: inline-block;
    position: relative;
    width: 100%;
    padding:0;
    margin: auto;
    text-align: center;
}

.lista-opcoes{
    padding: 10px 0;
    background-color: #22405D;
}


.item {
    padding: 0px;
    margin: auto;
    height: auto;
    display: inline-block;
    text-align: center;
}

.lista-contato .item{
    float: left;
}

.lista-contato a{
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 30px;
}

.logomarca{
    width:200px;
    height: auto;
    float:left;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    padding: 10px 0;
}

.item > a{
    height:auto;
    font-size:1.2em;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color:#fff;
    margin:auto;
    padding: 10px;
    margin-left: 30px;
    opacity: .9;
    transition: all .9s ;
}

.item > a:hover{
    opacity: 1;
    -webkit-text-stroke: 1px white;
    transition-timing-function: ease-in-out;
}