header{
    position: fixed;
    top:0;
    width: 100%;
    height: auto;
    padding: 0;
    z-index:99;
    background-color: white;
}

header > div:last-child{
    clear: both;
}


.lista-contato, .lista-opcoes{
    display: inline-block;
    position: relative;
    width: 100%;
    padding:0;
    margin: auto;
    text-align: center;
}

.lista-opcoes{
    padding: 11px 0;
    background-color: #22405D;
}

.item {
    padding: 0px;
    margin: auto;
    height: auto;
    display: inline-block;
    text-align: center;
}

.lista-contato .item{
    float: left;
}

.lista-contato a{
    text-decoration: none;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    border-radius: 30px;
}

.logomarca{
    width:200px;
    height: auto;
    float:left;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    padding: 10px 0;
}

.item > button{
    height:auto;
    font-size:1.2em;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    color:#fff;
    margin:auto;
    padding: 10px;
    margin-left: 30px;
    opacity: .9;
    background-color: #fff0;
    border:none;
    transition: all .9s ;
    cursor: pointer;
}

.item {
    position: relative;
}

.lista-opcoes button ion-icon {
    vertical-align: middle;
    transition: .8s;
}

.lista-header{
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    top: 100%;
    width: 160%;
    position: absolute;
    z-index: 9999;
    transition: 2s;
}


.lista-header > a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #22405D;
    opacity: .8;
}

.lista-header > a:hover{
    font-weight: 600;
    opacity: 1;
}


.icon-ativo{
    vertical-align: bottom;
    transform: rotate(-180deg);    
}


.item > a:hover{
    opacity: 1;
    -webkit-text-stroke: 1px white;
    transition-timing-function: ease-in-out;
}
