@media screen and (min-width:1200px){
    .btn-toggle{display: none;}
}

@media screen and (max-width:1200px){
    .hidden{
        display: none;
        width:60%;
        margin: auto;
        margin-top: 10px;
        float:none;
        text-align: center;
        background-color: #cfcfcf;
        border-radius: 4px;
    }
    
    .hidden-now,
    .btn-primary-blue>i{
        display: none;
    }
    .lista-opcoes > .btn-primary-blue{
        margin: 0;
        margin-top: 40px;
        text-align: center;
        visibility: hidden;
    }
    .btn-toggle{
        display: block;
        float:right;
    }
    .lista-opcoes{
        padding-bottom: 10px;
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: white;
    }
}

@media screen and (max-width: 1000px){
    .imagem-preview{
        height:350px;
    }
}

@media screen and (max-width:700px){
    .column{
        width:80%;
        margin:auto;
        margin-bottom:40px;
        text-align: center;
    }
    .item-rodape{
        text-align: center;
    }
    .copyritgh > p{
        width: 80%;
        margin: auto;
    }
    .imagem-preview{
        height:250px;
    }
}

